table{
    width:100%;
}

/* .container{
    padding:30px;
} */


/* .mat-column-date{
    flex:0 0 100px;
} */
.mat-column-busid{
    flex:0 0 100px;
}
/* .mat-column-time{
    flex:0 0 100px;
} */
/* .mat-column-state{
    flex:0 0 100px;
} */
