<footer> 
    <mat-toolbar fxFlex fxLayout fxLayoutGap="10px" class="footer-background">
        <div class="footer-copyright text-center py-3">© 2019 Miracle Software Systems, Inc.</div>
        
        <div fxFlex fxLayout fxLayoutGap="20px" fxLayoutAlign="flex-end" class="icons" fxHide.xs> 
            <a  href="https://www.facebook.com/miracle45625"><img src="assets/img/icons8-facebook-circled-48.png"></a>
            <a  href="https://plus.google.com/+Team_MSS/"><img src="assets/img/icons8-google-plus-48.png"></a>
            <a  href="https://twitter.com/Team_MSS"><img src="assets/img/icons8-twitter-squared-48.png"></a>
            <a  href="https://www.linkedin.com/company/miracle-software-systems-inc"><img src="assets/img/icons8-linkedin-48.png"></a> 
            <a  href="https://www.youtube.com/c/Team_MSS"><img src="assets/img/icons8-play-button-48.png"></a>
        </div>
    </mat-toolbar>   
</footer>