a{
    text-decoration:none;
    color:black;
}

a:active,
a:hover{
    color:#2173ca;
}

.vline{
    background:grey;
}


.nav-shadow{
    box-shadow:5px 5px 5px grey;
}

.nav-items{
    list-style:none;
    padding:0;
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.nav-content{
    display: inline-block;
    padding-left: 6px;
}
.logo{
    padding-top: 20px;
}